.footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.footer a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.footer a a.active {
    background-color: #04aa6d;
    color: white;
}

.footer a a:hover:not(.active) {
    background-color: #555;
    color: white;
}